/* Styles added to the * symbol will affect every elemlent on the page */
* {
    box-sizing: border-box;
}

body {
    font-family: "poppins", sans-serif;
    font-size: 1rem;
    color: black;
}

header {
    background-color: pink;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header-container {
    padding: 1.5rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 0.5rem;
}

a {
    text-decoration: none;
    /* anchor elements do not inherit from parents by default */
    color: inherit;
}


/* --Ignore--
@media(min-width: 700px){
    .header-container{
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: baseline;
    }
}
*/

@media (min-width: 700px) {
    .header-container {
    text-align: left;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    h1 {
        margin: 0;
    }

    li {
        margin: 0 0 0 1rem;
    }
}